<div class="dashboard-admin-right">
    <ul>
        <li>
            <span class="material-symbols-outlined">dashboard</span>
            @Html.ActionLink("پیشخوان", "Dashboard", "Default", null, null)
        </li>
        <li>
            <span class="material-symbols-outlined">article</span>
            @Html.ActionLink("نقش ها", "Index", "Articles", null, null)
        </li>
        <li>
            <span class="material-symbols-outlined">person</span>
            @Html.ActionLink("مدیران", "Index", "Admin", null, null)
        </li>
        <li>
            <span class="material-symbols-outlined">person_2</span>
            @Html.ActionLink("مدیران پشتیبانی", "Index", "UserRoles", null, null)
        </li>
        <li>
            <span class="material-symbols-outlined">person_2</span>
            @Html.ActionLink("کاربران", "Index", "UserRoles", null, null)
        </li>
        <li>
            <span class="material-symbols-outlined">category</span>
            @Html.ActionLink("دسته بندی ها", "Index", "Categories", null, null)
        </li>
        <li>
            <span class="material-symbols-outlined">chat_bubble</span>
            @Html.ActionLink("دیدگاه ها", "Index", "Comments", null, null)
        </li>
        <li>
            <span class="material-symbols-outlined">category</span>
            @Html.ActionLink("برگه ها", "Index", "Categories", null, null)
        </li>
        <li>
            <span class="material-symbols-outlined">settings</span>
            <a href="#">تنظیمات</a>
        </li>
        <li>
            <span class="material-symbols-outlined">logout</span>
            <a href="#">خروج</a>
        </li>
    </ul>
</div>